/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2022, 5:42:06 AM
    Author     : Administrator
*/

body{
    font-size: 14px;
    font-family: arial;
    line-height: 20px;
    background: violet;
}
.wp-form-login{
    width: 265px;
    background:#fdfdfd;
    border-radius: 3px;
    padding: 30px 20px 20px 20px;
    margin: 150px auto;
    text-align: center;
}

#form-login #username, 
#form-login #password{
    display: block;
    padding: 6px 10px;
    width: 100%;
    margin-bottom: 15px;
}
#form-login #btn-login{
    display: block; 
    width: 100%;
    background: #7FB3D5 ;
    border: none;
    color: #fff;
    padding: 10px 0;
    margin: 15px 0 10px;
    cursor: pointer;
}

#miss-pass{
    font-size: 16px;
    text-decoration: underline;
}
