/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2022, 9:30:30 AM
    Author     : Administrator
*/
body{
    font-size: 14px;
    font-family: arial;
    line-height: 23px;
}

#wrapper{
    width: 960px;
    margin: 0px auto;
}

#header, #footer{
    background: #029ef3;
}

ul#main-menu{
    text-align: center;
    
}

ul#main-menu li{
    display: inline-block;
    
}

ul#main-menu li a{
   display: block;
   padding: 8px 15px;
   color: #fff;
    
}

#content{
    min-height: 600px;
    padding: 20px 0px;
}

ul.list_post li{
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}
.post_title{
    font-weight: bold;
    font-size: 18px;
}

#footer{
    color: #ccc;
    text-align: center;
    padding: 10px 0;
}